.mainDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.container{
  max-width: 600px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.btn {
margin-top: 10px;
margin-bottom: 10px;
}
.navbar-nav>a {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}